<div class="container">
  <div class="content-wrapper">
    <div class="top-container">
      <div class="score-container">
        Score: 10
      </div>
      <div class="timer-container">
        Time left: 10s
      </div>
    </div>
    <div class="question-container">
      <div class="question">
        How many days are in the leap year?
      </div>
      <button class="option" mat-button>355</button>
      <button class="option" mat-button>356</button>
      <button class="option" mat-button>365</button>
      <button class="option" mat-button>366</button>
    </div>
  </div>
</div>
