<div class="container">
  <div class="content-wrapper">
    <div class="top-container">
      <div class="score-container">
        Score: 10
      </div>
      <div class="timer-container">
        Time left: 10s
      </div>
    </div>
    <div class="question-container" *ngIf="quizService.questionsData.length != 0">
      <div class="question" [innerHtml]="quizService.questionsData[questionIndex].question">
        
      </div>
      <button *ngFor="let option of quizService.questionsData[questionIndex].incorrect_answers" class="option" mat-button>
        {{option}}
      </button>
    </div>
  </div>
</div>
