<div class="container">
  <div class="content-wrapper">
    <div class="top-container">
      <div class="score-container">
        Score: {{score}}
      </div>
      <div class="timer-container">
        Time left: {{countdown}}s
      </div>
    </div>
    <div class="question-container" *ngIf="quizService.questionsData.length != 0">
      <div class="question" [innerHtml]="quizService.questionsData[questionIndex].question">
        
      </div>
      <button (click)="selectAnswer(option)"
      [class.correct-option]="(userAnswer == option && userAnswer == quizService.questionsData[questionIndex].correct_answer)
        || (userAnswer != '' && userAnswer != option && option == quizService.questionsData[questionIndex].correct_answer)
        || (userAnswer == '' && countdown == 0 && option == quizService.questionsData[questionIndex].correct_answer)"
      [class.wrong-option]="userAnswer == option && userAnswer != quizService.questionsData[questionIndex].correct_answer"
      *ngFor="let option of quizService.questionsData[questionIndex].incorrect_answers" class="option" mat-button>
        {{option}}
      </button>
    </div>
  </div>
</div>
