<div class="container">
  <div class="content-wrapper">
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input matInput placeholder="Enter your name"/>
    </mat-form-field>
    <button class="start-button" mat-button>Start</button>
    <h2>Leaderboard</h2>
    <div class="leaderboard">
      <div class="top-row">
        <div class="name-col">Username</div>
        <div class="score-col">Score</div>
      </div>
      <div class="row">
        <div class="name-col">Goldman</div>
        <div class="score-col">120</div>
      </div>
      <div class="row">
        <div class="name-col">Silverman</div>
        <div class="score-col">95</div>
      </div>
      <div class="row">
        <div class="name-col">Bronzeman</div>
        <div class="score-col">55</div>
      </div>
    </div>
  </div>
</div>
