<div class="container">
  <div class="content-wrapper">
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input matInput [(ngModel)]="quizService.userName" placeholder="Enter your name"/>
    </mat-form-field>
    <button routerLink="/quiz" class="start-button" mat-button>Start</button>
    <h2>Leaderboard</h2>
    <div class="leaderboard">
      <div class="top-row">
        <div class="name-col">Username</div>
        <div class="score-col">Score</div>
      </div>
      <div class="row" *ngFor="let score of scores">
        <div class="name-col">{{score.username}}</div>
        <div class="score-col">{{score.score}}</div>
      </div>
    </div>
  </div>
</div>
